.App {
  text-align: center;
}





.App-header {
  background-color: #9199a8;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.box_content{
  align-items: center;
  width: 25%;
  height: 80vh;
 
  background-color:aliceblue;
  border-radius: 20px;
  box-shadow: 25px 25px 25px -1px rgba(0,0,0,0.5);
  
}
.title{
  color: black;
  font-size: 20px;
  background-color: rgb(177, 124, 225);
  
  padding: 10px;
}
.input{
  
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
.button{
  border-radius: 50%;
  border-color: transparent;
  border: none;
  background-color: #b385eb;
  cursor: pointer;
}
.button:hover{
  background-color: #3ed04f;
  cursor: pointer;
}
.list{
  color: black;
  
  
  
}

