.icon{
    color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 5px 15px 25px -5px rgba(00,0,0,0.3);
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(68, 209, 162);
}
.icon:hover{
  background-color: red;
}
.icon_main{
  display: flex;
  flex-direction:row ;
  justify-content: left;
  align-items: center;
  color: black;
}
